{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./static/remote_components/react_components"
        ]
      }
    ],
    "@babel/plugin-syntax-jsx"
  ]
}
