# python module files
*/__pycache__
__pycache__
# Pycharm files
*/.idea
.idea

*/__init__.py
__init__.py
docs
staticfiles
node_modules
dist
*/dist
*/migrations
migrations

# pyenv file
.python-version

# npm gnerated files
webpack-stats.json
package-lock.json