@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Dashboard {
  width: 100%;
  height: 100%;
  //margin-top: 50px;
  background-color: #F0F5F6;
  display: flex;
  flex-direction: row;
}