.Header {
  height: 50px;
  min-height: 50px;
  width: 100%;
  background-color: #19394F;

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    //-webkit-box-shadow: 0 8px 6px -6px #999;
    //-moz-box-shadow: 0 8px 6px -6px #999;
    //box-shadow: 0 8px 6px -6px #999;
    z-index: 99;

  }

  div::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.58);
  }


  div::-webkit-scrollbar-track {
    background-image: linear-gradient(rgba(235, 235, 235, 0.8), rgba(255, 0, 0, 0));
  }

  div::-webkit-scrollbar-button {
    background-color: rgba(196, 196, 196, 0.58);
  }

  .side-nav {
    width: 200px;
  }

  .nav-brand {
    width: 200px;
    display: flex;
    justify-content: start;
    padding: 5px;

  }

  .nav-links {
    background-color: inherit;
    font-weight: bold;
    font-size: 15px;
    width: auto;
    float: left;
    display: flex;
    justify-content: center;
    min-width: 200px;
    cursor: pointer;
  }

  .nav-link {
    background-color: inherit;
    width: 200px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.nav-link:hover {
  filter: brightness(120%);
}

.nav-settings {
  width: 150px;
  display: flex;
  margin-left: auto;
  float: right;

  .dropdown-button {
    justify-content: end;
    padding-right: 20px;
  }
}

.nav-item, .nav-icon {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gray;
  font-weight: bold;
  font-size: 15px;
  background-color: inherit;
  border-color: transparent;
}

.nav-icon {
  margin: 0 10px 0 10px;
  width: 100px;
  max-width: 200px;
  min-width: 100px;
}


.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  min-width: 100%;

}

.nav-item:hover {
}

.nav-item-content {
  max-width: 200px;
  padding: 5px;
}


.active {
  filter: brightness(110%);
}


