<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>Торговая система</title>
    <meta name="author" content="Seitenova Gulmira">

</head>
<body cz-shortcut-listen="true">
<div class="clear-line"></div>
<div id="logo-block">
    <div id="logo-image">
        <center><img id="logo-image-src" src="../logo.png">
        </center>
    </div>
    <div id="logo-center" class="centered-block text-corp-color">
        <div class="centered-block big-block">
        </div>
    </div>
    <div id="logo-call">
        <img id="logo-call-src" src="../call-center.png">
        <div id="logo-email" class="text-corp-color">
        </div>
        <div id="logo-call-number">
            <span class="text-corp-color">+7 7172 690-703, 690-706	</span>
        </div>
        <div id="logo-email-bottom"><a href="mailto:opermarket@korem.kz" style="color:#205d6d">opermarket@korem.kz</a>
            (оператор торгов)
        </div>
        <div id="close-image">
            <a href="https://long.korem.kz/logout">
                <center>
                    <img id="close-image-src" src="../close.png">
                    <div class="text-corp-impact">выход</div>
                </center>
            </a>
        </div>
    </div>
    <div>
        <hr class="corp-line">
    </div>
</div>
<div class="clear-line"></div>
<div style="background: linear-gradient(to top, #205D6D, #a5bec4, #d2dee1,#e8eef0, #ffffff);min-height:1024px">
    <div class="big-block centered-block text-black">Организация: Central Asia cement Пользователь: Бужеев Т.Е.</div>
    <div class="centered-block noprint">
        <button type="button" onclick="window.location.href='/'">Данные участника</button>
        <button type="button" onclick="window.location.href='/trade'">I сессия</button>
        <button type="button" onclick="window.location.href='/trade2'">II сессия</button>
        <button type="button" onclick="window.location.href='/arhiv'">Архив</button>
    </div>
    <div class="centered-block big-block">
        <br>
        <br>
        <table class="centered-block" id="table-index" cellspacing="0" cellpadding="2">
            <tbody>
            <tr>
                <td colspan="2" class="header"><b class="text-black">Данные участника торгов</b></td>
            </tr>
            <tr>
                <td class="table-index-center-border">Наименование юридического лица:</td>
                <td>АО Central Asia Cement</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Краткое наименование участника:</td>
                <td>Central Asia cement</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Почтовый адрес, электронный адрес:</td>
                <td> 101408, , Темиртау, Пос. Актау, , , pdurnev@cac.kz</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Телефон/факс:</td>
                <td>8-7213-941-134-1151</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Банковские реквизиты:</td>
                <td>Счет № KZ16601037100000304 в АО "Народный Банк Казахстана", Темиртауский рег. фил., БИК HSBKKZKX,
                    БИН 980940003108
                </td>
            </tr>
            <tr>
                <td class="table-index-center-border">Договор с ОРЦТ:</td>
                <td>УЦТ-1-П-688 заключен на период с 25.01.2019 по 31.12.2019</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Руководитель:</td>
                <td>Дурнев Петр Владимирович</td>
            </tr>
            <tr>
                <td colspan="2" class="header"><b class="text-black">Статус регистрации в торгах</b></td>
            </tr>
            <tr>
                <td class="table-index-center-border">Регистрация:</td>
                <td>зарегистрирован</td>

            </tr>
            <tr>
                <td class="table-index-center-border">Зона торгов:</td>
                <td>северная + южная</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Допуск:</td>
                <td>есть</td>

            </tr>
            <tr>
                <td class="table-index-center-border">Предельный тариф:</td>
                <td>.0000</td>
            </tr>
            <tr>
                <td colspan="2" class="header"><b class="text-black">Данные уполномоченного лица</b></td>
            </tr>
            <tr>
                <td class="table-index-center-border">Ф.И.О.:</td>
                <td>Бужеев Т.Е.</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Идентификатор:</td>
                <td>110841633</td>
            </tr>
            <tr>
                <td class="table-index-center-border">Статус:</td>
                <td>Потребитель</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>